.master_title {
	width: 1190px;
	margin: 0 auto;
}

.page_title {
	font-size: 30px;
	font-weight: 400;
	display: block;
	margin: 30px 0 30px 0;
}

.page_title img {
	display: block;
	margin-top: 10px;
	width: 374px;
	height: 5px;
}

.content {
	position: relative;
}

.content img {
	width: 50%;
	display: block;
}